<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ben Gundersen</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <style>{{ style }}</style>
</head>
<body>
  <div id="canvas"></div>
  <div id="content">
    <section class="side left">
      <div class="layout">
        <h1 class="title">
          <div class="firstname">Ben</div>
          <div class="lastname">Gundersen</div>
        </h1>
        <hr />
        <ul class="links">
          <li><a href="https://github.com/bgun">github</a></li>
          <li><a href="https://twitter.com/bengundersen">twitter</a></li>
        </ul>
      </div>
    </section>
    <section class="side right">
      <div class="layout">
        <h1 class="title">
          <div class="firstname">Ben</div>
          <div class="lastname">Gundersen</div>
        </h1>
        <hr />
        <ul class="links">
          <li><a href="https://github.com/bgun">github</a></li>
          <li><a href="https://twitter.com/bengundersen">twitter</a></li>
        </ul>
      </div>
    </section>
  </div>
  <div id="controls"><button class="btn-toggle-split">Split</button></button></div>
  <script src="/client-bundle.js"></script>
</body>
</html>
